@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$primary-font: 'Ubuntu',
sans-serif;
$secondary-font: 'Roboto Slab',
serif;

.Navbar__links {
    font-weight: 500;
    color: $black;
    font-size: 1.2rem;
}

.para {
    font-size: 1rem;

    &::selection {
        background: $primary-color;
    }
}

.big-heading {
    font-size: 2.2rem;
}

.med-heading {
    font-size: 1.2rem;
}

.med-heading-big {
    font-size: 1.6rem;
}

.small-heading {
    font-size: 1.1rem;
}

.smaller-heading {
    font-size: 0.9rem;
}

.bold {
    font-weight: 600;
}

.purple-text {
    color: $primary-color;
}

.white-text {
    color: $white;
}

.footer_link {
    color: $black;
    font-size: 1rem;

    &:hover {
        color: $primary-color;
    }
}

@media (min-width: 760px) {
    .para {
        font-size: 1.1rem;
    }

    .med-heading {
        font-size: 1.7rem;
    }

    .med-heading-big {
        font-size: 2.6rem;
    }

}